<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fuxianyang.mapper.GoodsMapper">

	<select id="getGoodsList" resultType="com.fuxianyang.beans.Goods" parameterType="com.fuxianyang.beans.Goods">
		
		SELECT g.*,b.bname bname FROM `goods` g,brand b
		<where>
		g.bid=b.bid
		<if test="bid!=null and bid!=''">
			and g.bid=#{bid}
		</if>
		<if test="status!=null and status!=''">
			and status=#{status}
		</if>
		<if test="startTime!=null and startTime!=''">
			and uptime>=#{startTime} 
		</if>
		<if test="endTime!=null and endTime!=''">
			and uptime &lt;=#{endTime}
		</if>
		 GROUP BY g.gid
		</where>
	</select>
	
	<select id="getBrandSelect" resultType="com.fuxianyang.beans.Brand">
		SELECT * FROM brand
	</select>
	
	<insert id="addAll">
		insert into goods (gname,bid,price,status) value(#{gname},#{bid},#{price},#{status})
	</insert>
	
	<select id="getGood" resultType="com.fuxianyang.beans.Goods" parameterType="int">
		SELECT * FROM goods where gid=#{value}
	</select>

	<update id="updGood" parameterType="com.fuxianyang.beans.Goods">
		update goods 
		<set>
			<if test="gname!=null and gname!=''">
			gname=#{gname},
			</if>
			<if test="bid!=null and bid!=''">
			bid=#{bid},
			</if>
			<if test="price!=null and price!=''">
			price=#{price},
			</if>
			<if test="status!=null and status!=''">
			status=#{status},
			</if>
		
		</set>
		where gid=#{gid}
	</update>
</mapper>